<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">Aufgabenbereich</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/mitarbeiter">Mitarbeiter</a>
          </li>
        </ul>

<br>
<br>

<br>
    <h1>Diese Aufgaben sind zu erledigen</h1>
<form method="post" action="{% url 'aufgabenzettel_' %}">
    {% csrf_token %}

    {{ tag }}
    {{ form.as_p }} <!-- form wird aus gegriffen aus views.py und as_... macht eine schone Vorlage mit dem Inhalt, z.b. as_div, as_table...-->
    <button type="submit">Aufgabenzettel erstellen</button>


    
    </form>
</body>
</html>